<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            height: 100vh;
            background-image: url('./bj.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            background-color: rgba(165, 165, 165, 0.4);

        }

        .container-header {
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-top: 5vh;

        }

        .container-header img {
            width: 20vh;
            height: 20vh;
            border-radius: 50%;
            overflow: hidden;
            object-fit: cover;
        }

        .container-header h1 {
            color: rgba(255, 255, 255, 0.938);
        }

        hr {
            width: 68%;
            border: none;
            height: 2px;
            background-color: #5c4e4e91;
        }

        .container-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width:  80%;
        }

        @keyframes active-opacity-close {
            0% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        @keyframes active-opacity-show {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        .active-opacity-show {
            animation: active-opacity-show 1s ease-in-out;
        }

        .active-opacity-close {
            animation: active-opacity-close 1s ease-in-out;
        }

        #sentence_hxh {
            transform: translateX(10vw);
            width:100%;        
            margin-top: 1rem;
        }

        #sentence_hxh_main {
            font-size: 1.5rem;
            font-weight: bold;
            text-align: left;
            color: rgba(240, 255, 255, 0.966);
            width: 75%;
        }

        #sentence_hxh_from {
            font-size: 1rem;
            text-align: right;
            color: rgba(245, 245, 245, 0.9);
            width: 75%;
        }

        .container-links {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1rem;
            margin-top: 2rem;
            width: 80%;
        }

        .container-link {
            margin: 0;
            background-color: #d4a3a9b9;
            border-radius: 10px;
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s ease-in-out;
        }

        .container-link:hover {
            background-color: #f0abb3b9;
            cursor: pointer;
        }

        .container-links i {
            font-size: 1.5rem;
            font-weight: bold;
        }

        a {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.705);
            transition: all 0.3s ease-in-out;
        }

        a:hover {
            color: rgba(255, 255, 255, 0.705);
            transform: scale(1.1);
        }
    </style>
</head>

<body class="active-opacity-show">
    <div class="container">
        <div class="container-header">
            <img src="./faceImg.jpg" alt="faceImg">
            <h1><%= description %></h1>
        </div>
        <hr>
        <div class="container-body">
            <% if (isuseHVHsentence) { %>
            <div id="sentence_hxh" onclick="loadHxh()">
                <div id="sentence_hxh_main">这里应当是一句话</div>
                <div id="sentence_hxh_from">————「韩小韩」</div>
            </div>
            <% } %>
            <div class="container-links">
                <div class="container-link">
                    <a href="<%= link1_url %>" target="_blank">
                        <i class='bx bx-cloud'><%= link1_text %></i>
                    </a>
                </div>
                <div class="container-link">
                    <a href="<%= link2_url %>" target="_blank">
                        <i class='bx bx-cloud'><%= link2_text %></i>
                    </a>
                </div>
                <div class="container-link">
                    <a href="<%= link3_url %>" target="_blank">
                        <i class='bx bx-cloud'><%= link3_text %></i>
                    </a>
                </div>
                <div class="container-link">
                    <a href="<%= link4_url %>" target="_blank">
                        <i class='bx bx-cloud'><%= link4_text %></i>
                    </a>
                </div>
            </div>
            
        </div>
        <hr style="margin-top: 30px;">
        <div class="container-footer">
            <p>© Copyright 2024 & Openpower by <a href="http://103.40.13.88:44447/">Malisa</a> & <%= footer_text %></p>
        </div>
    </div>

    <script>
        window.onload = function () {
            loadHxh();
            setInterval(loadHxh, 50000);
        }

        async function loadHxh() {
            const sentence_hxh = document.getElementById('sentence_hxh');
            sentence_hxh.classList.remove('active-opacity-show');
            sentence_hxh.classList.add('active-opacity-close');

            await fetch('https://api.vvhan.com/api/text/love?type=json')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('sentence_hxh_main').innerHTML = `「${data.data.content}」\n`
                })

            sentence_hxh.classList.remove('active-opacity-close');
            sentence_hxh.classList.add('active-opacity-show');
        }
    </script>
</body>

</html>